.dark-primary-color {
  background: #0b0b47 !important;
  border: 1px solid #0194fc !important;
}
.dark-secondary-color {
  background: #07093c !important;
}
.lighter-color {
  color: #f5f5f5 !important;
}
.border-color {
  border: 5px solid #0194fc !important;
}

.dark-mode-nav {
  background: #0b0b47 !important;
}
